<!DOCTYPE html>
<html>
  <head>
    <title>Template Test</title>
  </head>
  <body>
    <div class="container">
      <p>My string: {{my_string}}</p>
      <p>Value from the list: {{my_list[3]}}</p>
      <p>Loop through the list:</p>
      <ul>
        {% for n in my_list %}
        <li>{{n}}</li>
        {% endfor %}
      </ul>
      <br>
      <ul>
      	{% for item in items %}
        <li>{{item.grp_id}}, {{item.shelved_stock}}, {{item.back_stock}}, {{item.cart_stock}}, {{item.exp_date}}</li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>